.profile__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 30vw;
  display: inline-block;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #fff;
  vertical-align: inherit;
}

@-moz-document url-prefix() {
  .profile__name {
    vertical-align: middle;
  }
}

@media all and (max-width: 915px) {
  .profile__name {
    max-width: 80vw;
  }
}

@media all and (max-width: 425px) {
  .profile__name {
    margin: 15px 0 0;
    font-size: 27px;
    max-width: 250px;
  }
}
