.header__auth-action {
  margin-left: 24px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #A9A9A9;
  text-decoration: none;
  cursor: pointer;
  transition: filter .2s linear;
}

.header__auth-action:hover {
  filter: opacity(.6);
}
