.photo-grid__delete {
  position: absolute;
  top: 18px;
  right: 15px;
  border: 0;
  width: 18px;
  height: 20px;
  background: url('../../../images/delete.svg') no-repeat;
}

.photo-grid__delete:hover {
  filter: opacity(.6);
  cursor: pointer;
}