.photo-grid__heart {
  width: 21px;
  height: 19px;
  border: 0;
  background: url('../../../images/heart.svg') no-repeat;
  transition: filter .2s linear;
}

.photo-grid__heart:hover {
  filter: opacity(.6);
  cursor: pointer;
}

.photo-grid__heart:focus {
  outline: none;
}
