.profile__person {
  margin-left: 29px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media all and (max-width: 425px) {
  .profile__person {
    margin-left: 0;
    align-items: center;
  }
}
