@import url('./__logo/header__logo.css');
@import url('./__auth-wrapper/header__auth-wrapper.css');
@import url('./__auth-email/header__auth-email.css');
@import url('./__auth-action/header__auth-action.css');

.header {
  display: flex;
  justify-content: space-between;
  padding: 45px 161px 0;
}

@media all and (max-width: 425px) {
  .header {
    padding: 27px 18px 0;
  }
}
